# Python
__pycache__/
*.pyc

Process.txt
ProcessLog.txt

models/
results/

# Allow paper folder for version control
!results/output/
!results/output/AERASOA/
!results/output/AERASOA/Springer/

# Entornos virtuales
.venv/
cyberbullying_env/

# IDEs
.idea/
.vscode/

# Configuración local
config.json